.card {
    max-width: 600px;
    margin: 10px auto;
    border: 1px solid #e9d8c6;
    border-radius: 6px;
    margin-bottom: 20px;
}

.card:hover {
    background-color: #f4c1d1;
    box-shadow: 7px 4px 17px -3px rgba(0, 0, 0, 0.62);
    color: rgb(53, 35, 35)
}

.heading {
    margin-left: 10px;
    font-weight: 800;
}

.para {
    margin-left: 10px;

}